<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="dailyoperations"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Daily Operation Record</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Daily Operation Record</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>open meter</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>close meter</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>
              Km/hr <br />
              worked
            </h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>
              wkend k/h <br />
              worked
            </h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>voucher no.</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>ref. no.</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>cost center</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 Jan 2006</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02254</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>03521</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>150</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>1000</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Here goes comment</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 Jan 2006</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02254</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>03521</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>150</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>1000</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Here goes comment</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 Jan 2006</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02254</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>03521</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>150</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>1000</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Here goes comment</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="dOpsRec"
                  [items]="registration"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="8" offset="0.5">
            <div class="item-input">
              <ion-label>Location</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="dOpsRec"
                  [items]="registration"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="DD MMM YYYY"
                  [(ngModel)]="dOpsRec.PlantSheetDate"
                >
                </ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <!-- <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Date</ion-label>
              <ion-item lines="none" class="end">
                <ion-input type="text" value="0.00"></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col> -->

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Voucher No.</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.Voucherno"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Order No.</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.OrdNumber"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Ref. No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.RefNumber"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Open Meter Reading</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.OpenOdo"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Close Meter Reading</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.CloseOdo"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Diff. Btw Meter Reading</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.CalWrkKmHr"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Cost Center</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="dOpsRec"
                  [items]="registration"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3">
            <div class="item-input">
              <ion-label>Rain Hrs.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.RainHrs"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.5">
            <div class="item-input">
              <ion-label>Standby Hrs.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.StandHrs"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.5" offset="0.5">
            <div class="item-input">
              <ion-label>Breakdown Hrs</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.BreakHrs"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.5" offset="0.5">
            <div class="item-input">
              <ion-label>Other Hrs.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.OtherHrs"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="6">
            <div class="item-input">
              <ion-label>Reason for other hours</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="dOpsRec.Reason"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.5" offset="0.5">
            <div class="item-input">
              <ion-label>Km / Hrs Worked</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.WrkKmHr"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.5" offset="0.5">
            <div class="item-input">
              <ion-label>Weekend Km/Hrs Worked</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.WeekendKmHr"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Load Capacity</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="dOpsRec.LoadCapacity">
                  <ion-select-option value="Voucher">Voucher</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2" offset="0.5">
            <div class="item-input">
              <ion-label>Voucher</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="dOpsRec"
                  [items]="registration"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Operator</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Name</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="dOpsRec"
                  [items]="registration"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1" offset="0.25">
            <div class="item-input">
              <ion-label>Start Time</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="HH mm"
                  [(ngModel)]="dOpsRec.operator.Starttime"
                >
                </ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1" offset="0.25">
            <div class="item-input">
              <ion-label>End Time</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="HH mm"
                  [(ngModel)]="dOpsRec.operator.Endtime"
                >
                </ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.25">
            <div class="item-input">
              <ion-label>Autorized Operators Hours</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="dOpsRec.operator.BreakTime"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="btn-holder ion-text-right">
          <ion-button> Add </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
