.grid-row1 {
  border-top: solid #108130;
  border-bottom: solid #108130;
  border-right: solid #108130;
  border-left: solid #108130;
  color: #000;
}
.grid-row2 {
  border-bottom: solid #108130;
  border-right: solid #108130;
  border-left: solid #108130;
  color: #000;
}
.grid-row-item1 {
  background: #8bca9d;
  text-align: center;
  line-height: 36px;
}
.grid-row-item2 {
  background: #ffffff;
  text-align: center;
  line-height: 36px;
}
