<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Schedule Staff Productivity Report</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY hh:mm a"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <div class="top-info">
    <ion-row>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>Sort Order</p>
          <h4>STAFF CODE</h4>
        </div>
      </ion-col>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>Staff Member Scope</p>
          <h4>TERRY KERSTAN</h4>
        </div>
      </ion-col>
      <ion-col size="3" class="card flex al-center jc-center">
        <div>
          <p>Staff Category Scope</p>
          <h4>ALL STAFF CATEGORIES</h4>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="section">
    <div class="grid-holder">
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Staff Code</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Date</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="2.2" class="ion-text-center flex al-center jc-center">
            <h4>Workdone</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Maint. Reason</h4>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex al-center jc-center">
            <h4>Prod Hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Travel Hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Travel Dist(Km)</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Overtime Hrs</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Overtime Travel Hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Jobcard Number</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Location</h4>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Terry Kerstan</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Mon 3 Apr 2006</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>MG12</p>
          </ion-col>
          <ion-col size="2.2" class="ion-text-left flex jc-center">
            <p class="ion-text-wrap">
              CHECK DIFF LOCK LIGHT STAYING ON-FOUND WIRES ON SWITCH TOUCHING
              ONE ANOTHER-REPAIRED AND HAD DIFF LOCK TESTED
            </p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>Maintenance</p>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex jc-center">
            <p>16.0</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>1.5</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>129</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>00000331</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex jc-center">
            <p>CONTRACTS\GOWRIE\\</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Terry Kerstan</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Mon 3 Apr 2006</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>MG12</p>
          </ion-col>
          <ion-col size="2.2" class="ion-text-left flex jc-center">
            <p class="ion-text-wrap">
              CHECK DIFF LOCK LIGHT STAYING ON-FOUND WIRES ON SWITCH TOUCHING
              ONE ANOTHER-REPAIRED AND HAD DIFF LOCK TESTED
            </p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>Maintenance</p>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex jc-center">
            <p>16.0</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>1.5</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>129</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>00000331</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex jc-center">
            <p>CONTRACTS\GOWRIE\\</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Terry Kerstan</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Mon 3 Apr 2006</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>MG12</p>
          </ion-col>
          <ion-col size="2.2" class="ion-text-left flex jc-center">
            <p class="ion-text-wrap">
              CHECK DIFF LOCK LIGHT STAYING ON-FOUND WIRES ON SWITCH TOUCHING
              ONE ANOTHER-REPAIRED AND HAD DIFF LOCK TESTED
            </p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>Maintenance</p>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex jc-center">
            <p>16.0</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>1.5</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>129</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>00000331</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex jc-center">
            <p>CONTRACTS\GOWRIE\\</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Terry Kerstan</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Mon 3 Apr 2006</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>MG12</p>
          </ion-col>
          <ion-col size="2.2" class="ion-text-left flex jc-center">
            <p class="ion-text-wrap">
              CHECK DIFF LOCK LIGHT STAYING ON-FOUND WIRES ON SWITCH TOUCHING
              ONE ANOTHER-REPAIRED AND HAD DIFF LOCK TESTED
            </p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>Maintenance</p>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex jc-center">
            <p>16.0</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>1.5</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>129</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>00000331</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex jc-center">
            <p>CONTRACTS\GOWRIE\\</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Terry Kerstan</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>Mon 3 Apr 2006</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>MG12</p>
          </ion-col>
          <ion-col size="2.2" class="ion-text-left flex jc-center">
            <p class="ion-text-wrap">
              CHECK DIFF LOCK LIGHT STAYING ON-FOUND WIRES ON SWITCH TOUCHING
              ONE ANOTHER-REPAIRED AND HAD DIFF LOCK TESTED
            </p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>Maintenance</p>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex jc-center">
            <p>16.0</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>1.5</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>129</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>00000331</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex jc-center">
            <p>CONTRACTS\GOWRIE\\</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
