<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="stafftimesheets"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Schedule Staff Productivity Report</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY hh:mm a"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <div class="top-info">
    <ion-row>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>Sort Order</p>
          <h4>STAFF CODE</h4>
        </div>
      </ion-col>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>Staff Member Scope</p>
          <h4>TERRY KERSTAN</h4>
        </div>
      </ion-col>
      <ion-col size="3" class="card flex al-center jc-center">
        <div>
          <p>Staff Category Scope</p>
          <h4>ALL STAFF CATEGORIES</h4>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="section">
    <div class="grid-holder">
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="schStProRep.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Staff Code</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Date</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="2.2" class="ion-text-center flex al-center jc-center">
            <h4>Workdone</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Maint. Reason</h4>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex al-center jc-center">
            <h4>Prod Hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Travel Hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Travel Dist(Km)</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Overtime Hrs</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Overtime Travel Hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
            <h4>Jobcard Number</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Location</h4>
          </ion-col>
        </ion-row>

        <ion-row
          class="value-row"
          *ngFor="let item of schStProRep; let i = index"
        >
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>{{ item.Staff }}</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>{{ item.ProdTimeDate }}</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>{{ item.reg }}</p>
          </ion-col>
          <ion-col size="2.2" class="ion-text-left flex jc-center">
            <p class="ion-text-wrap">{{ item.ProdTime_Desc }}</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>{{ item.maintReason }}</p>
          </ion-col>
          <ion-col size="0.7" class="ion-text-center flex jc-center">
            <p>{{ item.ProdHours }}</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>{{ item.TravelHrs }}</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>{{ item.TravelDist }}</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>{{ item.OvertimeHrs }}</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex jc-center">
            <p>{{ item.OTTravelHrs }}</p>
          </ion-col>
          <ion-col size="0.8" class="ion-text-center flex jc-center">
            <p>{{ item.refNo }}</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex jc-center">
            <p>{{ item.CostCent }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
