<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Asset Details</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <div class="navbar" class="ion-text-center">
    <!-- <ion-button
      fill="clear"
      routerLink="../assetsinfo"
      routerDirection="root"
      routerLinkActive="active-link"
      class="link"
    >
      Information
    </ion-button> -->
    <ion-button
      fill="clear"
      routerLink="../addassets"
      routerDirection="root"
      routerLinkActive="active-link"
      class="link"
    >
      Add Assets
    </ion-button>
    <ion-button
      fill="clear"
      routerLink="../addassetsinfo"
      routerDirection="root"
      routerLinkActive="active-link"
      class="link"
    >
      Add Information
    </ion-button>
    <ion-button
      fill="clear"
      routerLink="../itemcomponents"
      routerDirection="root"
      routerLinkActive="active-link"
      class="link"
    >
      Asset components
    </ion-button>
    <ion-button
      fill="clear"
      routerLink="../losscontrol"
      routerDirection="root"
      routerLinkActive="active-link"
      class="link"
    >
      Loss control
    </ion-button>
  </div>

  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar">
        <h3>Assets</h3>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="assets.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Item No.</h4>
          </ion-col>
          <ion-col size="2.5" class="flex al-center jc-center">
            <h4>Asset type</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Asset Category</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Make & Modal</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Purchase Date</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Licence Date</h4>
          </ion-col>
        </ion-row>
        <div class="values" *ngFor="let asset of assets; let i = index">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ asset.Reg }}</p>
            </ion-col>
            <ion-col size="2.5" class="flex al-center jc-center">
              <p>{{ asset.displayName }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ asset.catName }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ asset.ItemMakMod }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ asset.CaptureDate }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ asset.LicenceDate }}</p>
            </ion-col>
          </ion-row>
          <div class="more" *ngIf="moreDet">
            <div class="divider"></div>
            <h4>More Details</h4>
            <ion-row>
              <ion-col size="3">
                <ion-row>
                  <ion-col size="6">
                    <h5>Engine No. :</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>8253103</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <h5>Chassie No. :</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>204778E92337</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="4">
                <ion-row>
                  <ion-col size="6">
                    <h5>Location:</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>Stores</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <h5>Meter Reading as at:</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>432, 01 Nov 2009</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <!-- <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>NPC7502</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Compressor</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Major Equipment</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Ingersoll Rand P180SD</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 dec 2008</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>31 Jan 2010</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>NPC7502</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Compressor</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Major Equipment</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Ingersoll Rand P180SD</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 dec 2008</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>31 Jan 2010</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>NPC7502</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Compressor</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Major Equipment</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>Ingersoll Rand P180SD</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 dec 2008</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>31 Jan 2010</p>
            </ion-col>
          </ion-row>
        </div> -->
      </ion-grid>
    </div>
  </div>
</ion-content>
