ion-content {
  .top-info {
    margin: 16px 0;
    .card {
      background: white;
      border: 1px solid #b3c6e2 !important;

      p {
        color: #7d91af;
        font-family: "Regular";
        font-size: 16px;
        margin: 0;
      }

      h4 {
        color: #2f3f51;
        font-family: "Bold";
        font-size: 18px;
        margin: 5px 0;
      }
    }
  }

  .grid-holder {
    .top-toolbar {
      h3 {
        font-size: 16px;
      }
    }
    .title-row {
      h4 {
        font-size: 12px !important;
      }
    }

    .value-row {
      p {
        font-size: 11px !important;
      }
    }
  }
}
.nav-holder {
  margin-right: 18%;
  .nav-btns {
    #active {
      --background: #c7d0e5;
      --color: white;
    }
    ion-button {
      --background: grey;
      --border-color: #c7d0e5;
      --border-style: solid;
      --border-width: 1px;
      --box-shadow: none;
      --color: #c7d0e5;
      font-size: 0.8rem;
      height: 1.5rem;

      margin-right: 10px;
    }
  }
}
