<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/revenue"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Revenue Report</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <!-- <div class="top-info">
    <ion-row>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>Geographical Scope</p>
          <h4>ALL LOCATIONS</h4>
        </div>
      </ion-col>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>Type Scope</p>
          <h4>ALL ITEM TYPES</h4>
        </div>
      </ion-col>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>CLIENT SCOPE</p>
          <h4>TRUCK</h4>
        </div>
      </ion-col>
    </ion-row>
  </div> -->

  <div class="section" style="margin-top: 50px">
    <div class="grid-holder">
      <div class="top-toolbar">
        <h3>Revenue Report</h3>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="revenuee.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>Revenue ref.</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>Date of hire</h4>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <h4>time out</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>registration</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>client name</h4>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <h4>no. of hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>Hour Rate(R)</h4>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <h4>no. of km</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>km rate(R)</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>no. of days</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>daily rate(R)</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>standby hrs</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>standby rate(R)</h4>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <h4>discount(%)</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>total</h4>
          </ion-col>
        </ion-row>

        <ion-row class="value-row" *ngFor="let item of revenuee; let i = index">
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.RevenueRef }}</p>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.RevenueDate }}</p>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <p>{{ item.Timeout }}</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>{{ item.RegIndex }}</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>{{ item.Client }}</p>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <p>{{ item.NoHours | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.HourRate | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <p>{{ item.NoKm | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.KmRate | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.NoDays | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.DailyRate | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.StandbyHours | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <p>{{ item.StandbyRate | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="0.6" class="flex al-center jc-center">
            <p>{{ item.Discount | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>{{ item.Total | number : '1.2-2' }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="nav-holder">
      <ion-row>
        <ion-col size="8"></ion-col>
        <ion-col size="4">
          <div class="nav-btns flex al-center">
            <ion-button (click)="onTableRep()"> First </ion-button>
            <ion-button [disabled]="tblPrev" (click)="onPrev()">
              Previous
            </ion-button>
            <ion-button [disabled]="tblNext" (click)="onNext()">
              Next
            </ion-button>
            <ion-button (click)="onLast()"> Last </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
