ion-content {
  .title-holder {
    ion-back-button {
      margin-right: 10px !important;
    }
  }
  .section {
    margin-top: 20px;

    .grid-holder {
      .top-toolbar {
        padding: 5px 20px !important;
      }

      .values {
        border-bottom: 0 !important;
        padding: 0 !important;
      }
      ion-grid {
        border: none !important;
        padding: 0 !important;
      }
      .title-row {
        border: 1px solid #b3c6e2;
        h4 {
          font-size: 13px !important;
        }
      }

      .value-row {
        border-bottom: 1px solid #b3c6e2;
        border-left: 1px solid #b3c6e2;
        border-right: 1px solid #b3c6e2;
        p {
          font-size: 12px !important;
        }
        ion-button {
          --background: transparent;
          --box-shadow: none;
          --color: #7d91af;
          width: fit-content !important;
        }
      }
    }

    .title {
      h3 {
        color: #2f3f51;
        font-family: "Bold";
        font-size: 18px;
        margin: 0;
      }
    }

    .the-form {
      ion-col {
        margin-bottom: 10px !important;
      }

      h5 {
        color: #7d91af;
        font-size: 0.7rem;
        margin-top: 5px;
      }
    }
  }

  .nav-holder {
    margin-right: 18%;
    .nav-btns {
      #active {
        --background: #c7d0e5;
        --color: white;
      }
      ion-button {
        --background: grey;
        --border-color: #c7d0e5;
        --border-style: solid;
        --border-width: 1px;
        --box-shadow: none;
        --color: #c7d0e5;
        font-size: 0.8rem;
        height: 1.5rem;

        margin-right: 10px;
      }
    }
  }

  .btn-holder {
    ion-button {
      width: 120px !important;
      margin-left: 10px;
    }
  }
}
