ion-content {
  .section {
    margin-top: 20px;

    .value-row {
      ion-button {
        --background: transparent;
        --box-shadow: none;
        --color: #7d91af;
        width: fit-content !important;
      }
    }

    .st,
    .cost {
      margin: 10px 0 0 0;
    }
  }

  .nav-holder {
    margin-right: 15%;
    .nav-btns {
      #active {
        --background: #c7d0e5;
        --color: white;
      }
      ion-button {
        --background: grey;
        --border-color: #c7d0e5;
        --border-style: solid;
        --border-width: 1px;
        --box-shadow: none;
        --color: #c7d0e5;
        height: 2rem;
        font-size: 12px !important;
        margin-right: 10px;
      }
    }
  }
}
