<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Add Information</h2>
  </div>

  <div class="the-list">
    <div class="the-form">
      <div class="item-input">
        <ion-row>
          <ion-col size="10">
            <ion-label>Add Agent</ion-label>
            <ion-item lines="none">
              <ion-input> MAZDA 323 200E</ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="2" class="flex al-end jc-end">
            <ion-button expand="block"> Add </ion-button>
          </ion-col>
        </ion-row>
      </div>
      <div class="item-input">
        <ion-row>
          <ion-col size="10">
            <ion-label>Add Loss Type</ion-label>
            <ion-item lines="none">
              <ion-input value="SEDAN / 4 DOOR / 2000.00"> </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="2" class="flex al-end jc-end">
            <ion-button expand="block"> Add </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="item-input">
        <ion-row>
          <ion-col size="10">
            <ion-label>Add Registration</ion-label>
            <ion-item lines="none">
              <ion-input value="SEDAN / 4 DOOR / 2000.00"> </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="2" class="flex al-end jc-end">
            <ion-button expand="block"> Add </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="item-input">
        <ion-row>
          <ion-col size="10">
            <ion-label>Add Supervisor</ion-label>
            <ion-item lines="none">
              <ion-input value="SEDAN / 4 DOOR / 2000.00"> </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="2" class="flex al-end jc-end">
            <ion-button expand="block"> Add </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="item-input">
        <ion-row>
          <ion-col size="10">
            <ion-label>Add Actions</ion-label>
            <ion-item lines="none">
              <ion-input value="SEDAN / 4 DOOR / 2000.00"> </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="2" class="flex al-end jc-end">
            <ion-button expand="block"> Add </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="item-input">
        <ion-row>
          <ion-col size="10">
            <ion-label>Add Options</ion-label>
            <ion-item lines="none">
              <ion-input value="SEDAN / 4 DOOR / 2000.00"> </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="2" class="flex al-end jc-end">
            <ion-button expand="block"> Add </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
