<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="stafftimesheets"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Drivers Licence</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY hh:mm a"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <div class="top-info">
    <ion-row>
      <ion-col size="2.5" class="card flex al-center jc-center">
        <div>
          <p>Sort Order</p>
          <h4>LICENCE EXPIRY DATE</h4>
        </div>
      </ion-col>
      <ion-col size="2" class="card flex al-center jc-center">
        <div>
          <p>Staff Member Scope</p>
          <h4>ALL STAFF MEMBER</h4>
        </div>
      </ion-col>
      <ion-col size="3" class="card flex al-center jc-center">
        <div>
          <p>Staff Category Scope</p>
          <h4>ALL STAFF CATEGORIES</h4>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="section">
    <div class="grid-holder">
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="staff.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="2" class="ion-text-center flex al-center jc-center">
            <h4>Staff Code</h4>
          </ion-col>
          <ion-col size="2" class="ion-text-center flex al-center jc-center">
            <h4>Staff Category</h4>
          </ion-col>
          <ion-col size="2" class="ion-text-center flex al-center jc-center">
            <h4>Licence Code</h4>
          </ion-col>
          <ion-col size="2" class="ion-text-center flex al-center jc-center">
            <h4>PrDP Expiry Date</h4>
          </ion-col>
          <ion-col size="2.4" class="ion-text-center flex al-center jc-center">
            <h4>License Expiry Date</h4>
          </ion-col>
        </ion-row>

        <ion-row class="value-row" *ngFor="let item of staff; let i = index">
          <ion-col size="2" class="flex al-center jc-center">
            <p>{{ item.StaffCode }}</p>
          </ion-col>
          <ion-col size="2" class="ion-text-center flex al-center jc-center">
            <p>{{ item.StaffCatg }}</p>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <p>{{ item.Lic_Code }}</p>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <p>{{ item.PDP_ExpDate }}</p>
          </ion-col>
          <ion-col size="2.4" class="flex al-center jc-center">
            <p>{{ item.Lic_ExpDate }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="nav-holder">
        <ion-row>
          <ion-col size="8"></ion-col>
          <ion-col size="4">
            <div class="nav-btns flex al-center">
              <ion-button> First </ion-button>
              <ion-button> Previous </ion-button>
              <ion-button id="active"> 1 </ion-button>
              <ion-button> 2 </ion-button>
              <ion-button> 3 </ion-button>
              <ion-button> 4 </ion-button>
              <ion-button> Next </ion-button>
              <ion-button> Last </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
