<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button defaultHref="revenue" mode="ios" text=""></ion-back-button>
    <h2>Store Issues</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Store Issues</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Ref. No.</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Store item</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>rate</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>quantity</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>total cost</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>invoice cost</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row class="value-row" (click)="goSupplierDeposit()">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="storeIssue.ItemGuid">
                  <ion-select-option value="Registration"
                    >Registration</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Rate</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="storeIssue.CCRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>/unit</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="storeIssue.StoreIssuedate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Quantity</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="storeIssue.CCQty"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>/unit</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Maintenance Event Ref. No.</ion-label>
              <ion-item lines="none">
                <ion-select
                  multiple="false"
                  [(ngModel)]="storeIssue.MaintEvntGuid"
                >
                  <ion-select-option value="hawaii">Hawaii</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Supplier</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="storeIssue.SuppGuid">
                  <ion-select-option value="hawaii">Hawaii</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Store Item</ion-label>
              <ion-item lines="none">
                <ion-select
                  multiple="false"
                  [(ngModel)]="storeIssue.StoreCatgItemGuid"
                >
                  <ion-select-option value="hawaii">Hawaii</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Order / Requisition No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="storeIssue.OrderNo"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div class="btn-holder ion-text-right">
              <ion-button> Add </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
