<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/storeissue"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Bowser Transanctions</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Bowser Transanctions</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="bowserTransacs.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="1" class="flex al-center jc-center">
            <h4>action</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>pump read</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>dip qty</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>purchase qty</h4>
          </ion-col>
          <ion-col size="1.3" class="flex al-center jc-center">
            <h4>purchase cost</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>capture date</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Cost centre</h4>
          </ion-col>
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of bowserTransacs; let i = index"
          >
            <ion-col
              size="1"
              class="flex al-center jc-center"
              (click)="goBrowserTransfer()"
            >
              <p>{{ item.Purc_or_Dip }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.BowserTrnDate | date: 'mediumDate' }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.PumpReading | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.FuelQtyatDip | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>{{ item.FuelQtyPurc }}</p>
            </ion-col>
            <ion-col size="1.3" class="flex al-center jc-center">
              <p>{{ item.FuelCost }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.CaptureDate | date: 'mediumDate' }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.CostCent }}</p>
            </ion-col>
            <ion-col size="0.5" class="flex al-center jc-start">
              <ion-button (click)="onEdit(item)">
                <ion-icon
                  slot="icon-only"
                  name="ellipsis-vertical-outline"
                ></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Transanction Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="DD MMM YYYY"
                    [(ngModel)]="bowserTransac.BowserTrnDate"
                  >
                  </ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="8" offset="0.5">
              <div class="item-input"></div>
            </ion-col>

            <ion-radio-group [(ngModel)]="bowserTransac.Purc_or_Dip">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Dip</ion-label>
                    <ion-radio
                      slot="start"
                      mode="md"
                      item-left
                      value="D"
                    ></ion-radio>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item>
                    <ion-label>Purchase</ion-label>
                    <ion-radio
                      slot="start"
                      mode="md"
                      item-left
                      value="P"
                    ></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>

            <ion-col size="8">
              <div class="item-input"></div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Pump Meter Reading</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="bowserTransac.PumpReading"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="8" *ngIf="bowserTransac.Purc_or_Dip === 'D'">
              <div class="item-input"></div>
            </ion-col>

            <ion-col size="3.5" *ngIf="bowserTransac.Purc_or_Dip === 'D'">
              <div class="item-input">
                <ion-label>Fuel Quantity in Bowser</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="bowserTransac.FuelQtyatDip"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-col>

          <ion-col size="1" *ngIf="bowserTransac.Purc_or_Dip === 'P'"></ion-col>

          <ion-col size="4" *ngIf="bowserTransac.Purc_or_Dip === 'P'">
            <h6>Fuel purchase information:</h6>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Fuel Quantity purchased</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="bowserTransac.FuelQtyPurc"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Total fuel cost</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="bowserTransac.FuelCost"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Order no.</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="bowserTransac.OrderNo"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Supplier</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="bowserTransac.SuppGuid"
                    [items]="suppliers"
                    itemValueField="SuppGuid"
                    itemTextField="SuppName"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onSupplierLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Cost centre</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="bowserTransac.CostCentGuid"
                    [items]="costCentre"
                    itemValueField="CostCentGuid"
                    itemTextField="CostCentName"
                    [canSearch]="true"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div class="btn-holder ion-text-left">
              <ion-button *ngIf="!editBool" (click)="onAdd()">Add</ion-button>
              <ion-button *ngIf="editBool" (click)="onModify()" color="medium">
                Modify
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
