<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button defaultHref="repairhistory" mode="ios" text=""></ion-back-button>
    <h2>Servicing</h2>
  </div>


  <div class="section">
      <div class="content ion-padding">

        <div class="top-info">
          <ion-row>
            <ion-col size="2" class="card flex al-center jc-center">
              <div>
                <p>Registration</p>
                <h4>NPC6600</h4>
              </div>
            </ion-col>
            <ion-col size="3" class="card flex al-center jc-center">
              <div>
                <p>Category</p>
                <h4>MAJOR EQUIPMENT</h4>
              </div>
            </ion-col>
            <ion-col size="2" class="card flex al-center jc-center">
              <div>
                <p>Type</p>
                <h4>DOZER \ TRACKED \ 18000.00</h4>
              </div>
            </ion-col>
            <ion-col size="3" class="card flex al-center jc-center">
              <div>
                <p>Make & MOD.</p>
                <h4>TOYOTA COROLLA 1300GL</h4>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="top-info">
          <ion-row>
            <ion-col size="5" class="card flex al-center jc-center">
              <div>
                <p>Location</p>
                <h4>PT CONSTRUCTION \ FOURWAYS </h4>
              </div>
            </ion-col>
         
          </ion-row>
        </div>
        <div class="sub-section">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <div class="sub-grid-holder">
                <ion-row class="header">
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Component Name</h4>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Last Service</h4>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Ser. Interval</h4>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Last Met. Read</h4>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Overdue by</h4>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Hr/Km to next Serv</h4>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Date Serv. was due</h4>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <h4>Message</h4>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>ENGINE</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>894 23 May 2009</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>250</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>1449 11 Jun 2009</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>305</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>Overdue by meter reading</p>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>ENGINE</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>894 23 May 2009</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>250</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>1449 11 Jun 2009</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>305</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>Overdue by meter reading</p>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>ENGINE</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>894 23 May 2009</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>250</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>1449 11 Jun 2009</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>305</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1.5" class="ion-text-center flex al-center jc-center">
                    <p>Overdue by meter reading</p>
                  </ion-col>
                </ion-row>

              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
  </div>


</ion-content>