<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="stafftimesheets"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Staff Audit Trail</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY hh:mm a"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <div class="section">
    <div class="grid-holder">
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Date and Time</h4>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Trans Area</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Trans Date</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Trans Type</h4>
          </ion-col>
          <ion-col size="2.5" class="ion-text-center flex al-center jc-center">
            <h4>Main Event Ref/Jobcard No.</h4>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <h4>Staff Code</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Browser Name</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Oil Store Name</h4>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>24/11/2005 12:58</p>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>Staff productive time</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>18 Nov 2005</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>Add</p>
          </ion-col>
          <ion-col size="2.5" class="ion-text-left flex al-center">
            <p>GM14589</p>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <p>BRIAN ZONDI</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>24/11/2005 12:58</p>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>Staff productive time</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>18 Nov 2005</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>Add</p>
          </ion-col>
          <ion-col size="2.5" class="ion-text-left flex al-center">
            <p>GM14589</p>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <p>BRIAN ZONDI</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>24/11/2005 12:58</p>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>Staff productive time</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>18 Nov 2005</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>Add</p>
          </ion-col>
          <ion-col size="2.5" class="ion-text-left flex al-center">
            <p>GM14589</p>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <p>BRIAN ZONDI</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>24/11/2005 12:58</p>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>Staff productive time</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>18 Nov 2005</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>Add</p>
          </ion-col>
          <ion-col size="2.5" class="ion-text-left flex al-center">
            <p>GM14589</p>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <p>BRIAN ZONDI</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>24/11/2005 12:58</p>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>Staff productive time</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>18 Nov 2005</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>Add</p>
          </ion-col>
          <ion-col size="2.5" class="ion-text-left flex al-center">
            <p>GM14589</p>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <p>BRIAN ZONDI</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
        </ion-row>

        <ion-row class="value-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>24/11/2005 12:58</p>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <p>Staff productive time</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>18 Nov 2005</p>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <p>Add</p>
          </ion-col>
          <ion-col size="2.5" class="ion-text-left flex al-center">
            <p>GM14589</p>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <p>BRIAN ZONDI</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <p>N/A</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="nav-holder">
        <ion-row>
          <ion-col size="8"></ion-col>
          <ion-col size="4">
            <div class="nav-btns flex al-center">
              <ion-button> First </ion-button>
              <ion-button> Previous </ion-button>
              <ion-button id="active"> 1 </ion-button>
              <ion-button> 2 </ion-button>
              <ion-button> 3 </ion-button>
              <ion-button> 4 </ion-button>
              <ion-button> Next </ion-button>
              <ion-button> Last </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
