<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/stafftimesheets"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Staff Audit Trail</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <div class="section">
    <div class="grid-holder">
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Date and Time</h4>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Trans Area</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Trans Date</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Trans Type</h4>
          </ion-col>
          <ion-col size="2.5" class="ion-text-center flex al-center jc-center">
            <h4>Main Event Ref/Jobcard No.</h4>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
            <h4>Staff Code</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Bowser Name</h4>
          </ion-col>
          <ion-col size="1" class="ion-text-center flex al-center jc-center">
            <h4>Oil Store Name</h4>
          </ion-col>
        </ion-row>

        <ng-template #noItems> No items. </ng-template>
        <div *ngIf="staffAuditTrails.length; else noItems">
          <ion-row
            class="value-row"
            *ngFor="let item of staffAuditTrails; let i = index"
          >
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>{{ item.DateModified }}</p>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>{{ item.TransArea }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.Transdate }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.TransType }}</p>
            </ion-col>
            <ion-col size="2.5" class="ion-text-left flex al-center">
              <p>{{ item.TransGuid }}</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>{{ item.ItemGuid }}</p>
            </ion-col>
            <ion-col
              size="1.2"
              class="ion-text-center flex al-center jc-center"
            >
              <p>{{ item.StaffGuid }}</p>
            </ion-col>
            <ion-col size="1" class="ion-text-center flex al-center jc-center">
              <p>{{ item.TransGuid }}</p>
            </ion-col>
            <ion-col size="1" class="ion-text-center flex al-center jc-center">
              <p>{{ item.OilStoreGuid }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

      <div class="nav-holder">
        <ion-row>
          <ion-col size="8"></ion-col>
          <ion-col size="4">
            <div class="nav-btns flex al-center">
              <ion-button (click)="onTableRep()"> First </ion-button>
              <ion-button [disabled]="tblPrev" (click)="onPrev()">
                Previous
              </ion-button>
              <ion-button [disabled]="tblNext" (click)="onNext()">
                Next
              </ion-button>
              <ion-button (click)="onLast()"> Last </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
