<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/revenucosts"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Additional Cost</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Daily Operations Report</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="additionalCosts.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.8" class="flex al-center jc-center">
            <h4>Desc</h4>
          </ion-col>
          <ion-col size="0.9" class="flex al-center jc-center">
            <h4>DATE</h4>
          </ion-col>
          <ion-col size="0.7" class="flex al-center jc-center">
            <h4>Amount</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Voucher No.</h4>
          </ion-col>
          <ion-col size="1.8" class="flex al-center jc-center">
            <h4>Cost Centre</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Staff Code</h4>
          </ion-col>
          <ion-col size="1.8" class="flex al-center jc-center">
            <h4>Supplier</h4>
          </ion-col>
          <ion-col size="1.8" class="flex al-center jc-center">
            <h4>Comment</h4>
          </ion-col>
          <ion-col size="0.4" class="flex al-center jc-center"> </ion-col>
        </ion-row>
        <div class="values" *ngFor="let item of additionalCosts; let i = index">
          <ion-row class="value-row">
            <ion-col size="0.8" class="flex al-center jc-center">
              <p>{{ item.RegIndex }}</p>
            </ion-col>
            <ion-col size="1.8" class="flex al-center jc-center">
              <p>{{ item.AddCostDesc }}</p>
            </ion-col>
            <ion-col size="0.9" class="flex al-center jc-center">
              <p>{{ item.AddCostDate | date: 'mediumDate' }}</p>
            </ion-col>
            <ion-col size="0.7" class="flex al-center jc-center">
              <p>{{ item.AddCostAmt }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.VoucherNo }}</p>
            </ion-col>
            <ion-col size="1.8" class="flex al-center jc-center">
              <p>{{ item.CostCentre }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.StaffCode }}</p>
            </ion-col>
            <ion-col size="1.8" class="flex al-center jc-center">
              <p>{{ item.Supp }}</p>
            </ion-col>
            <ion-col size="1.8" class="flex al-center jc-center">
              <p>{{ item.AddCostComm }}</p>
            </ion-col>
            <ion-col size="0.4" class="flex al-center jc-start">
              <ion-button (click)="onEdit(item)">
                <ion-icon
                  slot="icon-only"
                  name="ellipsis-vertical-outline"
                ></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
    <!-- <div class="nav-holder">
      <ion-row>
        <ion-col size="8"></ion-col>
        <ion-col size="4">
          <div class="nav-btns flex al-center">
            <ion-button> First </ion-button>
            <ion-button> Previous </ion-button>
            <ion-button id="active"> 1 </ion-button>
            <ion-button> 2 </ion-button>
            <ion-button> 3 </ion-button>
            <ion-button> 4 </ion-button>
            <ion-button> Next </ion-button>
            <ion-button> Last </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div> -->
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="additionalCost.Itemguid"
                  [items]="registration"
                  itemValueField="ItemGuid"
                  itemTextField="Reg"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="8" offset="0.5">
            <div class="item-input">
              <ion-label>Additional Cost Description</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="additionalCost.AddCostDescGuid"
                  [items]="additionalCostDesc"
                  itemValueField="AddCostDescGuid"
                  itemTextField="AddCostDesc"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY hh:mm a"
                  [(ngModel)]="additionalCost.AddCostDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Amount</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="additionalCost.AddCostAmt"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Cost Centre</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="additionalCost.CostCentreGuid"
                  [items]="costCentre"
                  itemValueField="CostCentGuid"
                  itemTextField="CostCentName"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Staff Code</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="additionalCost.StaffGuid"
                  [items]="staffcode"
                  itemValueField="StaffGuid"
                  itemTextField="StaffCode"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Supplier</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="additionalCost.Suppguid"
                  [items]="supplier"
                  itemValueField="SuppGuid"
                  itemTextField="SuppName"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Voucher No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="additionalCost.VoucherNo"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="item-input">
              <ion-label>Comment</ion-label>
              <ion-item lines="none">
                <ion-textarea
                  rows="5"
                  [(ngModel)]="additionalCost.AddCostComm"
                ></ion-textarea>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="btn-holder ion-text-right">
          <ion-button *ngIf="!editBool" (click)="onAdd()">Add</ion-button>
          <ion-button *ngIf="editBool" (click)="onModify()" color="medium">
            Modify
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
