<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>How to</h2>
  </div>

  <div id="container" class="ion-padding">
    <ion-row>
      <ion-col *ngFor="let item of vidObjs" size="6">
        <div>
          <p>{{ item.name }}</p>
          <iframe
            width="400"
            height="230"
            [src]="item.safeUrl"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
