<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="clientdetails"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Items</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Items</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>make & model</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>catg</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>type</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>meter</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>meter date</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Chassis no.</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>driver</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>cost center</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row class="value-row" (click)="goLossControl()">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>BVY343429921AD</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">Volkswagen...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>VEH</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>SEDAN\2DR...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>187656</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>31/06/2019</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Here goes comment</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row" (click)="goLossControl()">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>BVY343429921AD</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">Volkswagen...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>VEH</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>SEDAN\2DR...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>187656</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>31/06/2019</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Here goes comment</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>BVY343429921AD</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">Volkswagen...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>VEH</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>SEDAN\2DR...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>187656</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>31/06/2019</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Here goes comment</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>BVY343429921AD</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">Volkswagen...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>VEH</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>SEDAN\2DR...</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>187656</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>31/06/2019</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>3493303</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Here goes comment</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.Reg">
                  <ion-select-option value="Registration"
                    >Registration</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Make & Model</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.ItemMakModGuid">
                  <ion-select-option value="Registration"
                    >Registration</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Type</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.ItemTypeGuid">
                  <ion-select-option value="Bowser"
                    >Description</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Catregory</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.ItemCatg">
                  <ion-select-option value="Bowser"
                    >Catregory</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Colour</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.ColourGuid">
                  <ion-select-option value="red">Red</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Chassis No.</ion-label>
              <ion-item lines="none" class="end">
                <ion-input type="text" [(ngModel)]="item.ChassisNo"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Engine No.</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="item.EngineNo"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Battery</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.BatteryGuid">
                  <ion-select-option value="Supplier"
                    >Supplier</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Front Tyre Size</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.FrontTyreGuid">
                  <ion-select-option value="Voucher">Voucher</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Rear Tyre Size</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.RearTyreGuid">
                  <ion-select-option value="Voucher">Voucher</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Driver</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.DriverName">
                  <ion-select-option value="Driver">Driver</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Date of Manufacture</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="YYYY"
                  [(ngModel)]="item.ManufYear"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Terminal Year</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="YYYY"
                  [(ngModel)]="item.TerminalYear"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Min. Mech. Avail %</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="item.MechAvail"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5"> </ion-col>

          <ion-col size="2.7">
            <div class="item-input">
              <ion-label>Meter Type</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.MeterType">
                  <ion-select-option value="Driver">Driver</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7" offset="0.3">
            <div class="item-input">
              <ion-label>Meter Reading</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="item.MeterRead"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7" offset="0.3">
            <div class="item-input">
              <ion-label>Meter Read. Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="YYYY"
                  [(ngModel)]="item.MeterReadDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7" offset="0.3">
            <div class="item-input">
              <ion-label>Meter Offset</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="item.MeterOffset"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7">
            <div class="item-input">
              <ion-label>Hourly Rate</ion-label>
              <ion-item lines="none" class="end">
                <ion-input type="text" [(ngModel)]="item.HourRate"></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7" offset="0.3">
            <div class="item-input">
              <ion-label>Km Rate</ion-label>
              <ion-item lines="none" class="end">
                <ion-input type="text" [(ngModel)]="item.KmRate"></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7" offset="0.3">
            <div class="item-input">
              <ion-label>Daily Rate</ion-label>
              <ion-item lines="none" class="end">
                <ion-input type="text" [(ngModel)]="item.DailyRate"></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7" offset="0.3">
            <div class="item-input">
              <ion-label>Standby Rate</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="item.StandbyRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Votecode</ion-label>
              <ion-item lines="none">
                <ion-select multiple="false" [(ngModel)]="item.Votecode">
                  <ion-select-option value="Voucher">Voucher</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Budget for item</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="item.ItemBud"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1" offset="0.5" class="check-holder flex al-center">
            <div>
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-label>Autocard</ion-label>
                <ion-checkbox
                  slot="start"
                  [(ngModel)]="item.Autocard"
                ></ion-checkbox>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1" offset="0.5" class="check-holder flex al-center">
            <div>
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-label>Refurbished</ion-label>
                <ion-checkbox
                  slot="start"
                  [(ngModel)]="item.Refurb"
                ></ion-checkbox>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="btn-holder ion-text-right">
          <ion-button> Add </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
