<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="revenucosts"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>FIXED COST Transfer</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>FIXED COST DETAILS</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="fixedCostTransfs.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>depreciation amnt</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>lease amnt</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>insurance amnt</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>cost center</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of fixedCostTransfs; let i = index"
          >
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>{{ item.RegIndex }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.TransDate }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.Deprec_Amt }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.Lease_Amt }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.Insur_Amt }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.CostCentGuid }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>FIXED COST TRANSFER DETAILS</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="fixedCostTransf.ItemGuid"
                  [items]="registration"
                  itemValueField="ItemGuid"
                  itemTextField="Reg"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="DD MMM YYYY"
                  max="2025"
                  [(ngModel)]="fixedCostTransf.TransDate"
                >
                </ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Cost Center</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="fixedCostTransf.CostCentGuid"
                  [items]="costCentre"
                  itemValueField="CostCentGuid"
                  itemTextField="CostCentName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Depreciation Amount</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="fixedCostTransf.Deprec_Amt"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Lease Amount</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="fixedCostTransf.Lease_Amt"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Insurance Amount</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="fixedCostTransf.Insur_Amt"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="btn-holder ion-text-right">
          <ion-button (click)="onAdd()">Add</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
