<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="itemtype"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Item make and model</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Item Components</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="items.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Make and model</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Transm</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>F Cons.</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>F cap</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>F type</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Mass</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>P outp</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>COF</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Lic</h4>
          </ion-col>
        </ion-row>
        <div class="values" *ngFor="let item of items; let i = index">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.ItemMake +' '+ item.ItemModel}}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.Transmission }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.FuelConsump | number : '1.0-0' }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.FuelCap | number : '1.0-0' }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.FuelType }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.Mass }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.PowerOutput }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.COF }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.Lic }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Make</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="item.ItemMake"
                  [items]="makes"
                  itemValueField="ItemMakModGuid"
                  itemTextField="ItemMake"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onMakeLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Model</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="item.ItemModel"
                  [items]="models"
                  itemValueField="ItemMakModGuid"
                  itemTextField="ItemModel"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onModelLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Fuel consumpt</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="item.FuelConsump"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Fuel capacity</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="item.FuelCap"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Fuel type</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="item.FuelTypeGuid"
                  [items]="fuelTypes"
                  itemValueField="FuelTypeGuid"
                  itemTextField="FuelType"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Transmission</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="item.Transmission"
                  [items]="transmissions"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6">
            <div class="item-input">
              <ion-label>Mass</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="item.Mass"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6">
            <div class="item-input">
              <ion-label>Power output</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="item.PowerOutput"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-col size="4" offset="0.5" class="check-holder flex al-center">
      <div>
        <ion-label>&nbsp;</ion-label>
        <ion-item lines="none">
          <ion-label>Licence</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="item.Lic"></ion-checkbox>
        </ion-item>
      </div>
    </ion-col>

    <ion-col size="4" offset="0.5" class="check-holder flex al-center">
      <div>
        <ion-label>&nbsp;</ion-label>
        <ion-item lines="none">
          <ion-label>C.O.F</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="item.COF"></ion-checkbox>
        </ion-item>
      </div>
    </ion-col>
  </div>

  <ion-row>
    <ion-col size="12" class="flex al-center jc-end">
      <div class="btn-holder flex al-center">
        <ion-button (click)="onAdd()"> Add </ion-button>
        <!-- <ion-button (click)="onModify()" color="medium"> Modify </ion-button>
        <ion-button (click)="onDeActivate()" color="danger">
          De-activate
        </ion-button>
        <ion-button (click)="onClear()" fill="outline"> Clear </ion-button> -->
      </div>
    </ion-col>
  </ion-row>
</ion-content>
