<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/overheadbudget"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Vote codes</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Vote codes</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="voteCodes.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Votecode</h4>
          </ion-col>
          <ion-col size="1.8" class="flex al-center jc-center">
            <h4>Votecode budget</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Min. Balance</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Votecode date</h4>
          </ion-col>
          <ion-col size="3" class="flex al-center jc-center">
            <h4>Capture name</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Capture date</h4>
          </ion-col>
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of voteCodes; let i = index"
          >
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.Votecode }}</p>
            </ion-col>
            <ion-col size="1.8" class="flex al-center jc-center">
              <p>{{ item.VotecodeBud | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.MinBal | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.VotecodeDate | date: 'mediumDate' }}</p>
            </ion-col>
            <ion-col size="3" class="flex al-center jc-center">
              <p>{{ item.CaptureName }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.CaptureDate | date: 'mediumDate' }}</p>
            </ion-col>
               <ion-col size="0.5" class="flex al-center jc-start">
              <ion-button (click)="onEdit(item)">
                <ion-icon
                  slot="icon-only"
                  name="ellipsis-vertical-outline"
                ></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <!-- <ion-row>
    <ion-col size="3.5">
      <div class="item-input">
        <ion-label>Financial year</ion-label>
        <ion-item>
          <ionic-selectable [items]="finYear"> </ionic-selectable>
        </ion-item>
      </div>
    </ion-col>
  </ion-row> -->

  <div class="section">
    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Vote code</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="voteCode.Votecode"
                  [items]="voteCodesSel"
                  itemValueField="VoteCodeGuid"
                  itemTextField="Votecode"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onVoteCodesLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Description</ion-label>
              <ion-item>
                <ion-input
                  type="text"
                  [(ngModel)]="voteCode.Comment"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <!-- <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Financial year</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="voteCode.VotecodeDate"
                  [items]="finYear"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col> -->

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Budget</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="voteCode.VotecodeBud"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Minimum balance</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="voteCode.MinBal"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="flex al-center jc-end">
            <div class="btn-holder flex al-center">
              <ion-button *ngIf="!editBool" (click)="onAdd()">Add</ion-button>
          <ion-button *ngIf="editBool" (click)="onModify()" color="medium">
            Modify
          </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
