<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="assetdetail"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Loss Control</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Loss Control</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="lossControls; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Loss Cont. No.</h4>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Date Opened</h4>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Date closed</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>agent</h4>
          </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>registration</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Loss type</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>driver</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of lossControls; let i = index"
            (click)="goMEvent()"
          >
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{item.LossControlNo}}</p>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>{{item.DateOpen}}</p>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>{{item.DateClosed}}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{item.Agentguid}}</p>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>{{item.Itemguid}}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{item.LossTypeguid}}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{item.DriverGuid}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <!-- <ion-col size="5">
            <div class="item-input">
              <ion-row>
                <ion-col size="8.5" class="ion-no-padding">
                  <ion-label>Loss Control No.</ion-label>
                  <ion-item lines="none">
                    <ion-input
                      [(ngModel)]="lossControl.LossControlNo"
                      disabled
                    ></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="3" offset="0.5" class="flex al-end jc-end">
                  <ion-button expand="block" id="inline"> Generate </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-col> -->

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Date Record Opened</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="lossControl.DateOpen"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3" offset="0.5">
            <div class="item-input">
              <ion-label>Date Record Closed</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="lossControl.DateClosed"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Agent</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.Agentguid"
                  [items]="agent"
                  itemValueField="StaffGuid"
                  itemTextField="StaffCode"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onAgentLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="item-input">
              <!-- <ion-row>
                <ion-col size="7" class="ion-no-padding"> -->
              <ion-label>Registration</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.Itemguid"
                  [items]="registration"
                  itemValueField="ItemGuid"
                  itemTextField="Reg"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
              <!-- </ion-col> -->

              <!-- <ion-col size="4.5" offset="0.5" class="flex al-end jc-end">
                  <ion-button expand="block" id="inline">
                    Check Make & Model and Location
                  </ion-button>
                </ion-col> -->
              <!-- </ion-row> -->
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Loss Type</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.LossTypeguid"
                  [items]="lossType"
                  itemValueField="LossContTypeguid"
                  itemTextField="LossContType"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Loss Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY hh:mm a"
                  [(ngModel)]="lossControl.LossDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5"> </ion-col>

          <ion-col size="12">
            <div class="item-input">
              <ion-label>Loss details / comment</ion-label>
              <ion-item lines="none">
                <ion-textarea
                  rows="5"
                  [(ngModel)]="lossControl.LossDetails"
                ></ion-textarea>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8">
            <div class="item-input">
              <ion-label>Reported</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.Reported"
                  [items]="yesNo"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.25">
            <div class="item-input">
              <ion-label>Reported Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="lossControl.DateReported"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.25">
            <div class="item-input">
              <ion-label>Reported By</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.Reportbyguid"
                  [items]="reportedBy"
                  itemValueField="StaffGuid"
                  itemTextField="StaffCode"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.25">
            <div class="item-input">
              <ion-label>Driver Name</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.DriverGuid"
                  [items]="driver"
                  itemValueField="StaffGuid"
                  itemTextField="StaffCode"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onDriverNameLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8">
            <div class="item-input">
              <ion-label>Driver's ID No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="lossControl.DriverID"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="6.5" offset="0.25">
            <div class="item-input">
              <ion-row>
                <ion-col size="5" class="ion-no-padding">
                  <ion-label>Trip Authority</ion-label>
                  <ion-item>
                    <ionic-selectable
                      [(ngModel)]="lossControl.TripAut"
                      [items]="yesNo"
                      [canSearch]="true"
                      [hasInfiniteScroll]="true"
                    >
                    </ionic-selectable>
                  </ion-item>
                </ion-col>

                <!-- <ion-col size="5.5" offset="0.5" class="flex al-end jc-end">
                  <ion-button expand="block" id="inline">
                    Check Employee No.
                  </ion-button>
                </ion-col> -->
              </ion-row>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Date Reported to Police</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="lossControl.DateReported"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Police Station</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="lossControl.PoliceStation">
                </ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Case Number</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="lossControl.Casenumber"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Accident / Incident Reported</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.AccidentRep"
                  [items]="yesNo"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Date Report Received</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="lossControl.AccRepDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Other Vehicle / Party</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="lossControl.OtherVeh_Party"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7">
            <div class="item-input">
              <ion-label>Forifeiture</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.Forfeiture"
                  [items]="yesNo"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.7" offset="0.3">
            <div class="item-input">
              <ion-label>Determination of liability</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.Det_Liability"
                  [items]="yesNo"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.3">
            <div class="item-input">
              <ion-label>Costing Documents</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.Costingdocs"
                  [items]="yesNo"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.3">
            <div class="item-input">
              <ion-label>Action Taken</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.LossContActguid"
                  [items]="lossCntrlAction"
                  itemValueField="LossContActGuid"
                  itemTextField="LossContAct"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Amount</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="lossControl.amount"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Amount Recovered</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="lossControl.AmountRec"
                  [items]="yesNo"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.25">
            <div class="item-input">
              <ion-row>
                <ion-col size="7" class="ion-no-padding">
                  <ion-label>File Number</ion-label>
                  <ion-item lines="none">
                    <ion-input type="text" [(ngModel)]="lossControl.FileNumber">
                    </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="4.5" offset="0.5" class="flex al-end jc-end">
                  <ion-button expand="block" id="inline" (click)="onAdd()">
                    Add
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
