<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Fuel and Oil Consumption</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon slot="icon-only" src="assets/imgs/icn-calender.svg"></ion-icon>
        </div>
        <ion-datetime display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 "></ion-datetime>
      </ion-item>
    </div>
  </div>


  <div class="section">
      <div class="content ion-padding">

        <div class="top-info">
          <ion-row>
            <ion-col size="2" class="card flex al-center jc-center">
              <div>
                <p>Bowser</p>
                <h4>BOWSER NO 1</h4>
              </div>
            </ion-col>
          </ion-row>
        </div>

    
        <div class="sub-section">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <div class="sub-grid-holder">
                <ion-row class="header">
                  <ion-col size="1.4" class="ion-text-center flex al-center jc-center">
                    <h4>Registration/<br>Bowser</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Date</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Order/Voucher<br> No</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Fuel Purchased<br>
                      (ltrs)</h4>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <h4>Fuel Voucher<br>
                      Issue(ltrs)</h4>
                  </ion-col>
                  <ion-col size="1.6" class="ion-text-center flex flexd al-center jc-center">
                    <h4>Transferred</h4>
                    <ion-row style="width: 100% !important;">
                      <ion-col size="6" class="ion-no-padding flex al-center jc-center">
                        <h4>Out</h4>
                      </ion-col>
                      <ion-col size="6" class="ion-no-padding flex al-center jc-center">
                        <h4>In</h4>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Pump <br>
                      Accumulative
                      Totals</h4>
                  </ion-col>
       
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Check on <br>
                      Voucher Issue</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Calculated<br>
                      Balance</h4>
                  </ion-col>
                  <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
                    <h4>Actual Bal./<br>
                      Dip</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Shortage<br>
                      or Excess</h4>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="1.4" class="ion-text-center flex al-center jc-center">
                    <p>KZN34561_A052003</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>02 Feb 2003</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>983</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>270</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>143.00</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>67895627</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>143.00</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>9607.00</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>N/A </p>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="1.4" class="ion-text-center flex al-center jc-center">
                    <p>KZN34561_A052003</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>02 Feb 2003</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>983</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>270</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>143.00</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>67895627</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>143.00</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>9607.00</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>N/A </p>
                  </ion-col>
                </ion-row>


                <ion-row class="values">
                  <ion-col size="1.4" class="ion-text-center flex al-center jc-center">
                    <p>KZN34561_A052003</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>02 Feb 2003</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>983</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>270</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>143.00</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>67895627</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>143.00</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>9607.00</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>N/A </p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="nav-holder">
          <ion-row>
              <ion-col size="8"></ion-col>
              <ion-col size="4">
                  <div class="nav-btns flex al-center">
                      <ion-button>
                          First
                      </ion-button>
                      <ion-button>
                          Previous
                      </ion-button>
                      <ion-button id="active">
                          1
                      </ion-button>
                      <ion-button>
                          2
                      </ion-button>
                      <ion-button>
                          3
                      </ion-button>
                      <ion-button>
                          4
                      </ion-button>
                      <ion-button>
                          Next
                      </ion-button>
                      <ion-button>
                          Last
                      </ion-button>
                  </div>
              </ion-col>
          </ion-row>
      </div>
      </div>
  </div>


</ion-content>