<ion-app>
  <ion-header class="ion-no-border" *ngIf="showMenu">
    <ion-toolbar>
      <ion-title>Akhatech</ion-title>

      <div class="navbar" class="ion-text-center">
        <ion-button
          fill="clear"
          routerLink="main/users"
          routerDirection="root"
          routerLinkActive="active-link"
          class="link"
        >
          System management
        </ion-button>
        <ion-button
          fill="clear"
          routerLink="main/clientdetails"
          routerDirection="root"
          routerLinkActive="active-link"
          class="link"
        >
          Support data
        </ion-button>
        <ion-button
          fill="clear"
          routerLink="main/reports"
          routerDirection="root"
          routerLinkActive="active-link"
          class="link"
        >
          Reports
        </ion-button>
        <!-- <ion-button
          fill="clear"
          routerLink="main/howto"
          routerDirection="root"
          routerLinkActive="active-link"
          class="link"
        >
          How to
        </ion-button> -->
      </div>

      <ion-buttons slot="end">
        <ion-item lines="none">
          <ion-label>
            <h2 style="color: white">{{ userEmail }}</h2>
          </ion-label>
        </ion-item>
      </ion-buttons>

      <button slot="end" class="logout-button" (click)="logout()">
        Log Out
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="showMenu">
      <ion-content>
        <div class="the-toolbar ion-text-center">
          <h3>Akhatech</h3>
        </div>
        <ion-list class="main-list" style="height: fit-content !important">
          <div *ngFor="let p of appPages; let i = index">
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              detail="false"
              routerLinkActive="active-parent"
            >
              <ion-icon slot="start" [src]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
