<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="storeissue"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Oil Store Transfer</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Oil Store Transfer</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="oilStoreTransfs.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Voucher no.</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Oil type</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>oil store from</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>oil store to</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>quantity</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of oilStoreTransfs; let i = index"
            (click)="goOverhead()"
          >
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.VoucherNo }}</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>{{ item.OilStoreTrnDate }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.OilTypeGuid }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.OilStoreFromGuid }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.OilStoreToGuid }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.OilQty }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Transfer Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="oilStoreTransf.OilStoreTrnDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="8" offset="0.5">
            <div class="item-input">
              <ion-label>Voucher No.</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="oilStoreTransf.VoucherNo">
                </ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Oil Quantity</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="oilStoreTransf.OilQty">
                </ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Oil Type</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilStoreTransf.OilTypeGuid"
                  [items]="oilTypes"
                  itemValueField="OilGuid"
                  itemTextField="OilText"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onOilTypeLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Oil Store From</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilStoreTransf.OilStoreFromGuid"
                  [items]="oilStoreFrom"
                  itemValueField="OilStoreGuid"
                  itemTextField="OilStoreName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Oil Store to</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilStoreTransf.OilStoreToGuid"
                  [items]="oilStoreTo"
                  itemValueField="OilStoreGuid"
                  itemTextField="OilStoreName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Cost Center</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilStoreTransf.CostCentGuid"
                  [items]="costCentre"
                  itemValueField="CostCentGuid"
                  itemTextField="CostCentName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div class="btn-holder ion-text-right">
              <ion-button (click)="onAdd()">Add</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
