<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Traffic Fines</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon slot="icon-only" src="assets/imgs/icn-calender.svg"></ion-icon>
        </div>
        <ion-datetime display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 "></ion-datetime>
      </ion-item>
    </div>
  </div>


  <div class="content">
    <div class="section">
      <div class="title">
        <h3>General Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Fine Number</ion-label>
                <ion-item lines="none">
                  <ion-input disabled> 1541/485/4458</ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Date Fine Received</ion-label>
                <ion-item lines="none">
                  <ion-datetime disabled display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 ">
                  </ion-datetime>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Date handed to Supervisor</ion-label>
                <ion-item lines="none">
                  <ion-datetime display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 "></ion-datetime>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Supervisor</ion-label>
                <ion-item lines="none">
                  <ion-select value="AnthonyJ-599915" multiple="false" placeholder="Please select">
                    <ion-select-option value="AnthonyJ-599915">AnthonyJ-599915</ion-select-option>
                    <ion-select-option value="hawaii">Hawaii</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="7.5" offset="0.5">
              <div class="item-input">
                <ion-label>Action taken by Supervisor</ion-label>
                <ion-item lines="none">
                  <ion-input value="MAZDA 323 200E"></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Registration</ion-label>
                <ion-item lines="none">
                  <ion-select value="MAZDA323200E" multiple="false" placeholder="Please select">
                    <ion-select-option value="MAZDA323200E">MAZDA 323 200E</ion-select-option>
                    <ion-select-option value="hawaii">Hawaii</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Driver</ion-label>
                <ion-item lines="none">
                  <ion-select value="ChamaneB-587745" multiple="false" placeholder="Please select">
                    <ion-select-option value="ChamaneB-587745">Chamane B - 587745</ion-select-option>
                    <ion-select-option value="hawaii">Hawaii</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Date of Offense</ion-label>
                <ion-item lines="none">
                  <ion-datetime display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 "></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5"  offset="0.5">
              <div class="item-input">
                <ion-label>Time of offense</ion-label>
                <ion-item lines="none">
                  <ion-datetime display-format="MMM DD YYYY hh:mm a" value=""></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Cost of fine</ion-label>
                <ion-item lines="none" class="end">
                  <ion-input type="text" value="300.00"></ion-input>
                  <div class="end-slot flex al-center jc-center" slot="end">
                    <p>R</p>
                  </div>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Trial Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 "></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Date Fine Paid</ion-label>
                <ion-item lines="none">
                  <ion-datetime display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 "></ion-datetime>
                </ion-item>
              </div>
            </ion-col>


            <ion-col size="11.5">
              <div class="item-input">
                <ion-label>Comment</ion-label>
                <ion-item lines="none">
                  <ion-textarea rows="5" placeholder="MAZDA 323 200E"></ion-textarea>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="11.5" class="ion-text-right">
              <ion-button id="btn" style="width: fit-content !important;">
                Mark as Completed
              </ion-button>
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>