<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Tyre Tracking</h2>
  </div>

  <div class="cat-holder">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2.4">
          <ion-button expand="block">
            Acquisition Orders <br>
            and receipts
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Registration
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Tyre Movement
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Repairs/Retreads <br>
            Order and Receipts
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Tyre Survey
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Scrapping
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Reports
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Support Date
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            System Management
          </ion-button>
        </ion-col>
        <ion-col size="2.4">
          <ion-button expand="block">
            Repairs/Retreads <br>
            Order and Receipts
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
