<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/assetdetail"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Asset Components</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar">
        <h3>Asset components</h3>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="itemComponents.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.5" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Component name</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Make</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Model</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Capture date</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Serial No.</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of itemComponents; let i = index"
          >
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.5" class="flex al-center jc-center">
              <p>{{ item.Item }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.CompName }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.CompMake }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.CompModel }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.CaptureDate }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.SerialNo }}</p>
            </ion-col>
          </ion-row>
          <!-- <div class="more">
            <div class="divider"></div>
            <h4>More Details</h4>
            <ion-row>
              <ion-col size="3">
                <ion-row>
                  <ion-col size="6">
                    <h5>Engine No. :</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>8253103</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <h5>Chassie No. :</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>204778E92337</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="4">
                <ion-row>
                  <ion-col size="6">
                    <h5>Location:</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>Stores</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <h5>Meter Reading as at:</h5>
                  </ion-col>
                  <ion-col size="6">
                    <p>432, 01 Nov 2009</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div> -->
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.ItemGuid"
                  [items]="registrations"
                  itemValueField="ItemGuid"
                  itemTextField="Reg"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Make & Model</ion-label>
              <ion-item>
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.SerialNo"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY hh:mm a"
                  [(ngModel)]="itemComponent.expDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Component Name</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.CompNameGuid"
                  [items]="assetCompName"
                  itemValueField="CompNameGuid"
                  itemTextField="CompName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onCompNameLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Componanent Make</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.CompMakeGuid"
                  [items]="assetCompMake"
                  itemValueField="CompMakeGuid"
                  itemTextField="CompMake"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onComponentMakeLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Component Model</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.CompModelGuid"
                  [items]="assetCompModel"
                  itemValueField="CompModelGuid"
                  itemTextField="CompModel"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onComponentModelLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Serial No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.SerialNo"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Service Interval</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.ServIntvalGuid"
                  [items]="servIntvl"
                  itemValueField="ServIntvalGuid"
                  itemTextField="ServIntval"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2" offset="0.5" class="check-holder flex al-center">
            <div>
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-label>Oil Welted</ion-label>
                <ion-checkbox
                  slot="start"
                  [(ngModel)]="itemComponent.OilWetted"
                ></ion-checkbox>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Waranty</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.warranty"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5" *ngIf="itemComponent.OilWetted">
            <div class="item-input">
              <ion-label>Oil capacity</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.OilCap"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5" *ngIf="itemComponent.OilWetted">
            <div class="item-input">
              <ion-label>OIl Make, Grade, Classiffication</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.OilTypeGuid"
                  [items]="oilTypes"
                  itemValueField="OilGuid"
                  itemTextField="OilText"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onOilTypeLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2.6">
            <div class="item-input">
              <ion-label>Service Parts(Filters, Plugs etc.)</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts1"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.4">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts2"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts3"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts4"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts5"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.4">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts6"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts7"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts8"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="btn-holder ion-text-right">
          <ion-button (click)="onAdd()">Add</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
