<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="assetdetail"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Asset Components</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Item Components</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Meter Read</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>voucher no.</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>bowser.supplier</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>fuel qty</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>total cost</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>invoice cost</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row class="value-row" (click)="goItem()">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.ItemCompGuid"
                  [items]="registration"
                  itemValueField="ItemGuid"
                  itemTextField="Reg"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <!-- <ion-col size="3.5" offset="0.5">
          <div class="item-input">
              <ion-label>Make & Model</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent"
                  [items]="registration"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col> -->

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY HH MM"
                  [(ngModel)]="itemComponent.CaptureDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5"> </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Component Name</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.CompNameGuid"
                  [items]="assetCompName"
                  itemValueField="CompNameGuid"
                  itemTextField="CompName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onCompNameLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Componanent Make</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.CompMakeGuid"
                  [items]="assetCompMake"
                  itemValueField="CompMakeGuid"
                  itemTextField="CompMake"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onComponentMakeLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Component Model</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.CompModelGuid"
                  [items]="assetCompModel"
                  itemValueField="CompModelGuid"
                  itemTextField="CompModel"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onComponentModelLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Serial No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.SerialNo"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Service Interval</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="itemComponent.ServIntvalGuid"
                  [items]="servIntvl"
                  itemValueField="ServIntvalGuid"
                  itemTextField="ServIntval"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5" class="check-holder flex al-center">
            <div>
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-label>Oil Welted</ion-label>
                <ion-checkbox
                  slot="start"
                  [(ngModel)]="itemComponent.OilWetted"
                ></ion-checkbox>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6">
            <div class="item-input">
              <ion-label>Service Parts(Filters, Plugs etc.)</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts1"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.4">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts2"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts3"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts4"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts5"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.4">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts6"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts7"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.6" offset="0.6">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="itemComponent.ServParts8"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="btn-holder ion-text-right">
          <ion-button> Add </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
