<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Fuel and Oil Consumption</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon slot="icon-only" src="assets/imgs/icn-calender.svg"></ion-icon>
        </div>
        <ion-datetime display-format="MMM DD YYYY hh:mm a" value="Sep 16 2020, 12:02 "></ion-datetime>
      </ion-item>
    </div>
  </div>


  <div class="section">
      <div class="content ion-padding">

        <div class="top-info">
          <ion-row>
            <ion-col size="2" class="card flex al-center jc-center">
              <div>
                <p>Sort Order</p>
                <h4>SINGLE REG</h4>
              </div>
            </ion-col>
            <ion-col size="3" class="card flex al-center jc-center">
              <div>
                <p>Geographical Scope</p>
                <h4>ALL LOCATIONS</h4>
              </div>
            </ion-col>
            <ion-col size="2" class="card flex al-center jc-center">
              <div>
                <p>Type Scope</p>
                <h4>ALL TYPES</h4>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="top-info">
          <ion-row>
            <ion-col size="1.5" class="card flex al-center jc-center">
              <div>
                <p>Registration</p>
                <h4>NPC6106</h4>
              </div>
            </ion-col>
            <ion-col size="3" class="card flex al-center jc-center">
              <div>
                <p>Type</p>
                <h4>LDV \ 1 TON 2X4 \ 2000.00</h4>
              </div>
            </ion-col>
            <ion-col size="2" class="card flex al-center jc-center">
              <div>
                <p>Location</p>
                <h4>DISTRIBUTION</h4>
              </div>
            </ion-col>
            <ion-col size="2.5" class="card flex al-center jc-center">
              <div>
                <p>Make & Model</p>
                <h4> NISSAN HARDBODY 2000</h4>
              </div>
            </ion-col>
            <ion-col size="2" class="card flex al-center jc-center">
              <div>
                <p>Registration</p>
                <h4>NPC6106</h4>
              </div>
            </ion-col>
         
          </ion-row>
        </div>
        <div class="sub-section">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <div class="sub-grid-holder">
                <ion-row class="header">
                  <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
                    <h4>Voucher No.</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Fuel Issue Date</h4>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <h4>Met <br> Read</h4>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <h4>Meter <br> Diff.</h4>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <h4>Tank Cap</h4>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <h4>Qty(ltrs)</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Cost(R)</h4>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <h4>Input</h4>
                  </ion-col>
                  <ion-col size="1.8" class="ion-text-center flex flexd al-center jc-center">
                    <h4>Fuel Consumption</h4>
                    <ion-row>
                      <ion-col size="6" class="ion-no-padding ion-text-center">
                        <h4>Kms/ltr</h4>
                      </ion-col>
                      <ion-col size="6" class="ion-no-padding ion-text-center">
                        <h4>ltrs/100km</h4>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Acceptable <br>ltrs/100km</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Staff Code</h4>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <h4>Bowser & Supplier</h4>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
                    <p>Delagne G-33052</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>Wed 11-Nov-09 8:12</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>26898</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>270</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>60.00</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>32.93</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>115.91</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>8.20</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>12.20</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>15.8</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>C Buckley</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>PMB ELEC PETROL</p>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
                    <p>Delagne G-33052</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>Wed 11-Nov-09 8:12</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>26898</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>270</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>60.00</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>32.93</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>115.91</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>8.20</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>12.20</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>15.8</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>C Buckley</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>PMB ELEC PETROL</p>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
                    <p>Delagne G-33052</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>Wed 11-Nov-09 8:12</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>26898</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>270</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>60.00</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>32.93</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>115.91</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>8.20</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>12.20</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>15.8</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>C Buckley</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>PMB ELEC PETROL</p>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="1.2" class="ion-text-center flex al-center jc-center">
                    <p>Delagne G-33052</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>Wed 11-Nov-09 8:12</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>26898</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>270</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>60.00</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>32.93</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>115.91</p>
                  </ion-col>
                  <ion-col size="0.8" class="ion-text-center flex al-center jc-center">
                    <p>N/A</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>8.20</p>
                  </ion-col>
                  <ion-col size="0.9" class="ion-text-center flex al-center jc-center">
                    <p>12.20</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>15.8</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>C Buckley</p>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center flex al-center jc-center">
                    <p>PMB ELEC PETROL</p>
                  </ion-col>
                </ion-row>


         
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="nav-holder">
          <ion-row>
              <ion-col size="8"></ion-col>
              <ion-col size="4">
                  <div class="nav-btns flex al-center">
                      <ion-button>
                          First
                      </ion-button>
                      <ion-button>
                          Previous
                      </ion-button>
                      <ion-button id="active">
                          1
                      </ion-button>
                      <ion-button>
                          2
                      </ion-button>
                      <ion-button>
                          3
                      </ion-button>
                      <ion-button>
                          4
                      </ion-button>
                      <ion-button>
                          Next
                      </ion-button>
                      <ion-button>
                          Last
                      </ion-button>
                  </div>
              </ion-col>
          </ion-row>
      </div>
      </div>
  </div>


</ion-content>