<ion-header>
  <ion-toolbar>
    <ion-title>usergroups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-holder flex al-center">
    <ion-back-button defaultHref="revenue" mode="ios" text=""></ion-back-button>
    <h2>User group</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>User group</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Ref. No.</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Store item</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>rate</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>quantity</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>total cost</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>invoice cost</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p class="ion-text-wrap">01 JAN 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>400</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <ion-col size="3.5">
    <div class="item-input">
      <ion-label>user group</ion-label>
      <ion-item>
        <ionic-selectable
          [(ngModel)]="userGroup"
          [items]="userGroups"
          itemValueField="CompNameGuid"
          itemTextField="CompName"
          [canSearch]="true"
          [hasInfiniteScroll]="true"
        >
        </ionic-selectable>
      </ion-item>
    </div>
  </ion-col>
</ion-content>
