<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/assetdetail"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Asset</h2>
    <div class="date-holder">
      <ion-item lines="none">
        <div class="thumb" slot="start">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </ion-item>
    </div>
  </div>

  <div class="content">
    <div class="section">
      <div class="title">
        <h3>General Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Registration</ion-label>
                <ion-item lines="none">
                  <ion-input [(ngModel)]="asset.Reg"></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Make and Model</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.ItemMakModGuid"
                    [items]="makesAndModels"
                    itemValueField="ItemMakModGuid"
                    itemTextField="ItemMakMod"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onMakeAndModelLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Type</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.ItemTypeGuid"
                    [items]="assetTypes"
                    itemValueField="ItemTypeGuid"
                    itemTextField="displayName"
                    [canSearch]="true"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Category</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.ItemCatg"
                    [items]="categories"
                    itemValueField="assetCatUuid"
                    itemTextField="assetCatName"
                    [canSearch]="true"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Color</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.ColourGuid"
                    [items]="colors"
                    itemValueField="ColourGuid"
                    itemTextField="Colour"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onColorLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Chassie Number</ion-label>
                <ion-item lines="none">
                  <ion-input [(ngModel)]="asset.ChassisNo"></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Engine Number</ion-label>
                <ion-item lines="none">
                  <ion-input [(ngModel)]="asset.EngineNo"></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Battery</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.BatteryGuid"
                    [items]="batteries"
                    itemValueField="BatteryGuid"
                    itemTextField="BatteryText"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onBatteryLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Driver</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.StaffGuid"
                    [items]="drivers"
                    itemValueField="StaffGuid"
                    itemTextField="StaffCode"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onDriverLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Front Tyre Size</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.FrontTyreGuid"
                    [items]="tyreSizes"
                    itemValueField="TyreSizeGuid"
                    itemTextField="TyreSize"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onTireSizesLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Rear Tyre Size</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.RearTyreGuid"
                    [items]="tyreSizes"
                    itemValueField="TyreSizeGuid"
                    itemTextField="TyreSize"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onTireSizesLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="section">
      <div class="title">
        <h3>Meter Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Meter type</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="asset.MeterType"
                    [items]="meterTypes"
                    itemValueField="meterTypeUuid"
                    itemTextField="meterTypeName"
                    [canSearch]="true"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Meter Reading</ion-label>
                <ion-item lines="none">
                  <ion-input [(ngModel)]="asset.MeterRead"></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Meter Read Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY hh:mm a"
                    [(ngModel)]="asset.MeterReadDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Meter Offset</ion-label>
                <ion-item lines="none">
                  <ion-input [(ngModel)]="asset.MeterOffset"></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Licence Expiry Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY"
                    max="2025"
                    [(ngModel)]="asset.LicenceDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="section">
      <div class="title">
        <h3>Rate Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Hourly Rate</ion-label>
                <ion-item lines="none" class="end">
                  <ion-input
                    type="text"
                    [(ngModel)]="asset.HourRate"
                  ></ion-input>
                  <div class="end-slot flex al-center jc-center" slot="end">
                    <p>R</p>
                  </div>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>KM Rate</ion-label>
                <ion-item lines="none" class="end">
                  <ion-input type="text" [(ngModel)]="asset.KmRate"></ion-input>
                  <div class="end-slot flex al-center jc-center" slot="end">
                    <p>R</p>
                  </div>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Daily Rate</ion-label>
                <ion-item lines="none" class="end">
                  <ion-input
                    type="text"
                    [(ngModel)]="asset.DailyRate"
                  ></ion-input>
                  <div class="end-slot flex al-center jc-center" slot="end">
                    <p>R</p>
                  </div>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Standby Rate</ion-label>
                <ion-item lines="none" class="end">
                  <ion-input
                    type="text"
                    [(ngModel)]="asset.StandbyRate"
                  ></ion-input>
                  <div class="end-slot flex al-center jc-center" slot="end">
                    <p>R</p>
                  </div>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="section">
      <div class="title">
        <h3>Other Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Date of Manufacture</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY"
                    [(ngModel)]="asset.ManufYear"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Terminal Year</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="YYYY"
                    max="2025"
                    [(ngModel)]="asset.TerminalYear"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Votecode</ion-label>
                <ion-item lines="none">
                  <ionic-selectable
                    [(ngModel)]="asset.Votecode"
                    [items]="votecodes"
                    itemValueField="VoteCodeGuid"
                    itemTextField="Votecode"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onVotecodeLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Budget for Item</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="asset.ItemBud"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Min Mech. Avail %</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="asset.MechAvail"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Min. Monthly Ave. Km</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="asset.MonthlyAveKM"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="section bottom">
      <div class="check-holder">
        <ion-row>
          <ion-col size="8" class="flex al-center jc-between">
            <ion-item lines="none">
              <ion-label>Autocard</ion-label>
              <ion-checkbox
                [(ngModel)]="asset.Autocard"
                slot="start"
              ></ion-checkbox>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Refurbished</ion-label>
              <ion-checkbox
                [(ngModel)]="asset.Refurb"
                slot="start"
              ></ion-checkbox>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Rental Vehicle</ion-label>
              <ion-checkbox
                [(ngModel)]="asset.rentalVehicle"
                slot="start"
              ></ion-checkbox>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Government Subsidised Vehicle</ion-label>
              <ion-checkbox
                [(ngModel)]="asset.govSubsidisedVeh"
                slot="start"
              ></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size="1"> </ion-col>
          <ion-col size="2.6">
            <div class="btn-holder ion-text-right">
              <ion-button (click)="onAdd()" expand="block"> Add </ion-button>
            </div>
          </ion-col>
          <ion-col size="0.4"> </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
