<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="oilissues"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Oil Store Transanctions</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Oil Store Transanctions</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-grid fixed>
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>action</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>date</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Oil type</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>stockcounty qty</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>purchase qty</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>purchase cost</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>capture date</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Comments</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row class="value-row" (click)="goOilTransfer()">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>

        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>

        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>

        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>

        <div class="values">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>NP117354</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p class="ion-text-wrap">0215112</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>02541</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>01 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Y</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>02 Jan 2006</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>Comment here</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <div class="item-input">
              <ion-label>Select Oil Store</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilstoreTrans"
                  [items]="OilStore"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onOilStoreLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5">
            <div class="item-input">
              <ion-label>Transanction Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="oilstoreTrans.OilStoreTrnDate"
                ></ion-datetime>
              </ion-item>
            </div>
            <!-- </ion-col> -->

            <!-- <ion-col size="3.5" offset="0.5"> </ion-col>
          <ion-col size="3.5" offset="0.5"> </ion-col> -->

            <ion-radio-group [(ngModel)]="oilstoreTrans.Purc_or_Count">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Stockcount</ion-label>
                    <ion-radio
                      slot="start"
                      mode="md"
                      item-left
                      value="S"
                    ></ion-radio>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item>
                    <ion-label>Purchase</ion-label>
                    <ion-radio
                      slot="start"
                      mode="md"
                      item-left
                      value="P"
                    ></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>

            <!-- <ion-col size="8" offset="0.5"> </ion-col> -->

            <!-- <ion-col size="3.5"> -->
            <div class="item-input">
              <ion-label>Oil Type</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilstoreTrans"
                  [items]="OilStore"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onOilStoreLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2"> </ion-col>

          <ion-col size="4" *ngIf="oilstoreTrans.Purc_or_Count === 'P'">
            <h6>Oil Store purchase details:</h6>

            <div class="item-input">
              <ion-label>Purchase quantity</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="oilstoreTrans.OilQtyPurc"
                ></ion-input>
              </ion-item>
            </div>

            <div class="item-input">
              <ion-label>Total Oil cost</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="oilstoreTrans.OilCost"
                ></ion-input>
              </ion-item>
            </div>

            <div class="item-input">
              <ion-label>Order No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="oilstoreTrans.OrderNo"
                ></ion-input>
              </ion-item>
            </div>

            <div class="item-input">
              <ion-label>Supplier</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilstoreTrans"
                  [items]="OilStore"
                  itemValueField="ColourGuid"
                  itemTextField="Colour"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onOilStoreLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>

            <div class="item-input">
              <ion-label>Cost centre</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="oilstoreTrans"
                  [items]="OilStore"
                  itemValueField="CostCentGuid"
                  itemTextField="CostCentName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onOilStoreLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="oilstoreTrans.Purc_or_Count === 'S'">
          <ion-col size="4">
            <div class="item-input">
              <ion-label>Stockcount quantity</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="oilstoreTrans.OilQtyinStore"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div class="btn-holder ion-text-left">
              <ion-button> Add </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
