<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <h2>Revenue</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>

  <div class="navbar" class="ion-text-center">
    <ion-button
      fill="clear"
      routerLink="../revenueearned"
      routerDirection="root"
      routerLinkActive="active-link"
      class="link"
    >
      Revenue earned
    </ion-button>
  </div>

  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Revenue</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="revenuee.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="1.1" class="flex al-center jc-center">
            <h4>Registration</h4>
          </ion-col>
          <ion-col size="1.1" class="flex al-center jc-center">
            <h4>trans. date</h4>
          </ion-col>
          <ion-col size="1.2" class="flex al-center jc-center">
            <h4>reference no</h4>
          </ion-col>
          <ion-col size="2.2" class="flex al-center jc-center">
            <h4>client</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>total cost</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>hours</h4>
          </ion-col>
          <ion-col size="0.8" class="flex al-center jc-center">
            <h4>rate</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>overtime</h4>
          </ion-col>
          <ion-col size="2.2" class="flex al-center jc-center">
            <h4>Comment</h4>
          </ion-col>
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of revenuee; let i = index"
          >
            <ion-col size="1.1" class="flex al-center jc-center">
              <p>{{ item.RegIndex }}</p>
            </ion-col>
            <ion-col size="1.1" class="flex al-center jc-center">
              <p>{{ item.RevenueDate | date: 'mediumDate' }}</p>
            </ion-col>
            <ion-col size="1.2" class="flex al-center jc-center">
              <p>{{ item.RevenueRef }}</p>
            </ion-col>
            <ion-col size="2.2" class="flex al-center jc-center">
              <p>{{ item.Client }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.Total | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="0.8" class="flex al-center jc-center">
              <p>{{ item.NoHours | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="0.8" class="flex al-center jc-center">
              <p>{{ item.DailyRate | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.NoOvertime | number : '1.2-2' }}</p>
            </ion-col>
            <ion-col size="2.2" class="flex al-center jc-center">
              <p>{{ item.OtherRevenueComm }}</p>
            </ion-col>
            <ion-col size="0.5" class="flex al-center jc-start">
              <ion-button (click)="onEdit(item)">
                <ion-icon
                  slot="icon-only"
                  name="ellipsis-vertical-outline"
                ></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Transanction Date</ion-label>
              <ion-item lines="none">
                <ion-datetime
                  display-format="MMM DD YYYY"
                  [(ngModel)]="revenue.RevenueDate"
                ></ion-datetime>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Ref. No.</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.RevenueRef"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5">
            <div class="item-input">
              <ion-label>Registration</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="revenue.ItemGuid"
                  [items]="registration"
                  itemValueField="ItemGuid"
                  itemTextField="Reg"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onRegistrationLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Client</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="revenue.ClientGuid"
                  [items]="clients"
                  itemValueField="ClientGuid"
                  itemTextField="ClientName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Cost Centre</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="revenue.CostCentguid"
                  [items]="costCentre"
                  itemValueField="CostCentGuid"
                  itemTextField="CostCentName"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="4" offset="0.5"> </ion-col>

          <ion-col size="1.8">
            <div class="item-input">
              <ion-label>No. of Normal Hours</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.NoHours"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.6" offset="0.25">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.HourRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.8" offset="0.25">
            <div class="item-input">
              <ion-label>No. of Overtime Hours</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.NoOvertime"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.6" offset="0.25">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.OvertimeRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.8" offset="0.25">
            <div class="item-input">
              <ion-label>No. of Weekend Hours</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.NoWeekend"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.6" offset="0.25">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.WeekendRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.8">
            <div class="item-input">
              <ion-label>No. of Rain Hours</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="revenue.NoRain"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.6" offset="0.25">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.RainRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.8" offset="0.25">
            <div class="item-input">
              <ion-label>No. of Standby Hours</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.StandbyHours"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.6" offset="0.25">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.StandbyRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.8" offset="0.25">
            <div class="item-input">
              <ion-label>No. of Days</ion-label>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="revenue.NoDays"></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="1.6" offset="0.25">
            <div class="item-input">
              <ion-label>&nbsp;</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.DailyRate"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Other Revenue</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.OtherRevenue"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="8" offset="0.5">
            <div class="item-input">
              <ion-label>Other Revenue Comment</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.OtherRevenueComm"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Deductions</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.Deductions"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="8" offset="0.5">
            <div class="item-input">
              <ion-label>Deduction Comment</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.DeductionsComm"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8">
            <div class="item-input">
              <ion-label>Discount</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  [(ngModel)]="revenue.Discount"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>%</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.25">
            <div class="item-input">
              <ion-label>VAT</ion-label>
              <ion-item lines="none" class="end">
                <ion-input type="text" [(ngModel)]="revenue.Vat"></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>%</p>
                </div>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.25">
            <div class="item-input">
              <ion-label>Included in Total?</ion-label>
              <ion-item lines="none" class="end">
                <ionic-selectable
                  [(ngModel)]="revenue.IncVat"
                  [items]="yesNo"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="2.8" offset="0.25">
            <div class="item-input">
              <ion-label>Total</ion-label>
              <ion-item lines="none" class="end">
                <ion-input
                  type="text"
                  disabled
                  [(ngModel)]="revenue.Total"
                ></ion-input>
                <div class="end-slot flex al-center jc-center" slot="end">
                  <p>R</p>
                </div>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div
              class="btn-holder ion-text-right"
              style="margin-top: 10px !important"
            >
              <ion-button *ngIf="!editBool" (click)="onAdd()">Add</ion-button>
              <ion-button *ngIf="editBool" (click)="onModify()" color="medium">
                Modify
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
