<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/servicetypes"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Service schedule</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Service schedule tasks</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="servschedules.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="4" class="flex al-center jc-center">
            <h4>Service Schedule Task</h4>
          </ion-col>
          <ion-col size="6" class="flex al-center jc-center">
            <h4>Capture date</h4>
          </ion-col>
          <ion-col size="1" class="flex al-center jc-center">
            <h4>Active</h4>
          </ion-col>
        </ion-row>
        <div class="values" *ngFor="let item of servschedules; let i = index">
          <ion-row class="value-row">
            <ion-col size="4" class="flex al-center jc-center">
              <p>{{ item.ChecklistItemName }}</p>
            </ion-col>
            <ion-col size="6" class="flex al-center jc-center">
              <p>{{ item.CapDate | date: 'mediumDate' }}</p>
            </ion-col>
            <ion-col size="1" class="flex al-center jc-center">
              <p>{{ item.Active }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>
</ion-content>
