<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="itemtype"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Bowser</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
        <p>to</p>
        <ion-datetime
          display-format="MMM DD YYYY"
          value="Sep 16 2020, 12:02 "
        ></ion-datetime>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>Bowser</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="bowsers.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Code</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Name</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Capacity</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Fuel type</h4>
          </ion-col>
          <ion-col size="2" class="flex al-center jc-center">
            <h4>Location</h4>
          </ion-col>
          <ion-col size="1.6" class="flex al-center jc-center">
            <h4>Capture date</h4>
          </ion-col>
          <ion-col size="1.4" class="flex al-center jc-center">
            <h4>Active</h4>
          </ion-col>
        </ion-row>
        <div class="values" *ngFor="let item of bowsers; let i = index">
          <ion-row class="value-row">
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.BowserHOCode }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.BowserName }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.BowserCap }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.FuelType }}</p>
            </ion-col>
            <ion-col size="2" class="flex al-center jc-center">
              <p>{{ item.Bowser }}</p>
            </ion-col>
            <ion-col size="1.6" class="flex al-center jc-center">
              <p>{{ item.CaptureDate }}</p>
            </ion-col>
            <ion-col size="1.4" class="flex al-center jc-center">
              <p>{{ item.Active }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Bowser code</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="bowser.BowserHOCode"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Bowser Name</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="bowser.BowserName"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Bowser Capacity</ion-label>
              <ion-item lines="none">
                <ion-input
                  type="text"
                  [(ngModel)]="bowser.BowserCap"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>bowser location</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="bowser.BowserLoc"
                  [items]="bowserLoc"
                  itemValueField="LocGuid"
                  itemTextField="LocDesc"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onInfiniteScroll)="onBowserLocLeft()"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5" offset="0.5">
            <div class="item-input">
              <ion-label>Fuel type</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="bowser.FuelTypeGuid"
                  [items]="fuelType"
                  itemValueField="FuelTypeGuid"
                  itemTextField="FuelType"
                  [canSearch]="true"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="flex al-center jc-end">
            <div class="btn-holder flex al-center">
              <ion-button (click)="onAdd()"> Add </ion-button>
              <!-- <ion-button (click)="onModify()" color="medium">
                Modify
              </ion-button>
              <ion-button (click)="onDeActivate()" color="danger">
                De-activate
              </ion-button>
              <ion-button (click)="onClear()" fill="outline">
                Clear
              </ion-button> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
