<ion-content>
  <ion-row><ion-col></ion-col></ion-row>

  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/users"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Parameters</h2>
  </div>

  <ion-row>
    <ion-col size="3.5">
      <div class="item-input">
        <ion-label>Month</ion-label>
        <ion-item>
          <ionic-selectable
            [(ngModel)]="month"
            [items]="months"
            [canSearch]="true"
          >
          </ionic-selectable>
        </ion-item>
      </div>
    </ion-col>

    <ion-col size="3.5">
      <div class="item-input">
        <ion-label>Working hours in a day</ion-label>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="hours"></ion-input>
        </ion-item>
      </div> </ion-col
  ></ion-row>
</ion-content>
