<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="repairhistory"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>Job Card & Service Schedule</h2>
    <div class="date-holder">
      <div class="date-holder">
        <div class="itm flex al-center">
          <div class="thumb">
            <ion-icon
              slot="icon-only"
              src="assets/imgs/icn-calender.svg"
            ></ion-icon>
          </div>
          <ion-datetime
            display-format="MMM DD YYYY"
            value="Sep 16 2020, 12:02 "
          ></ion-datetime>
          <p>to</p>
          <ion-datetime
            display-format="MMM DD YYYY"
            value="Sep 16 2020, 12:02 "
          ></ion-datetime>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="section">
      <div class="title">
        <h3>General Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Reported Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY hh:mm a"
                    [(ngModel)]="jobCard.generalInformation.ReportedDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Start Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY hh:mm a"
                    [(ngModel)]="jobCard.generalInformation.StartedDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Complete Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY hh:mm a"
                    [(ngModel)]="jobCard.generalInformation.CompletedDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Reported By</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="jobCard.generalInformation.StaffGuid"
                    [items]="staff"
                    itemValueField="StaffGuid"
                    itemTextField="StaffCode"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onReportedByLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Driver / Operator</ion-label>
                <ion-item>
                  <ionic-selectable
                    [(ngModel)]="jobCard.generalInformation.driverOrOpGuid"
                    [items]="driver"
                    itemValueField="StaffGuid"
                    itemTextField="StaffCode"
                    [canSearch]="true"
                    [hasInfiniteScroll]="true"
                    (onInfiniteScroll)="onDriverLeft()"
                  >
                  </ionic-selectable>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="section">
      <div class="title">
        <h3>Vehicle Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Registration No.</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.registrationNo"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Make & Model</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.makeAndModel"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Type</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.type"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Engine No.</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.engineNo"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Chassie No.</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.chassieNo"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Meter Reading</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.meterReading"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Meter Reading Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY hh:mm a"
                    [(ngModel)]="jobCard.vehicleInformation.meterReadingDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Manufacture Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY hh:mm a"
                    [(ngModel)]="jobCard.vehicleInformation.manufacturerDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Warranty Period</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.warrantyPeriod"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Warranty Expiry Date</ion-label>
                <ion-item lines="none">
                  <ion-datetime
                    display-format="MMM DD YYYY hh:mm a"
                    [(ngModel)]="jobCard.vehicleInformation.warrantyExpiryDate"
                  ></ion-datetime>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Alternate ID 1</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.alternateId1"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Location</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.vehicleInformation.location"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="section">
      <div class="title">
        <h3>Service Information</h3>
      </div>

      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="11.5">
              <div class="item-input">
                <ion-label>Work Description</ion-label>
                <ion-item lines="none">
                  <ion-textarea
                    rows="5"
                    [(ngModel)]="jobCard.serviceInformation.Defects"
                  ></ion-textarea>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Service Type</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.serviceInformation.serviceType"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Type</ion-label>
                <ion-item lines="none">
                  <ion-input
                    [(ngModel)]="jobCard.serviceInformation.type"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11.5" class="ion-no-padding">
              <div class="grid-holder">
                <ion-row class="header">
                  <ion-col size="4">
                    <h4>Component Name</h4>
                  </ion-col>
                  <ion-col size="4">
                    <h4>Warranty</h4>
                  </ion-col>
                  <ion-col size="4">
                    <h4>Expiry Date</h4>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="4">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="4">
                    <p>12</p>
                  </ion-col>
                  <ion-col size="4">
                    <p>13 JAN 2005</p>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="4">
                    <p>ALTERNATOR</p>
                  </ion-col>
                  <ion-col size="4">
                    <p>12</p>
                  </ion-col>
                  <ion-col size="4">
                    <p>13 JAN 2005</p>
                  </ion-col>
                </ion-row>
              </div>

              <div class="btn-holder ion-text-right">
                <ion-button> Add More Componenets </ion-button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Component</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.componentOfCar.componentName"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Engine</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.componentOfCar.engine"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Transmission</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.componentOfCar.transmission"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Oil grade</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.componentOfCar.oilGrade"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Oil Capacity Ltrs</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.componentOfCar.oilCapLtrs"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5" class="flex al-end jc-end">
              <div class="btn-holder ion-text-right">
                <ion-button> Add More </ion-button>
              </div>
            </ion-col>

            <ion-col size="2">
              <div class="item-input">
                <ion-label>Parts for Service Type</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.partsForServType[0]"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="2" offset="0.25">
              <div class="item-input">
                <ion-label>&nbsp;</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.partsForServType[1]"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="2" offset="0.25">
              <div class="item-input">
                <ion-label>&nbsp;</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.partsForServType[2]"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="2" offset="0.25">
              <div class="item-input">
                <ion-label>&nbsp;</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.partsForServType[3]"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="2" offset="0.25">
              <div class="item-input">
                <ion-label>&nbsp;</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.partsForServType[4]"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="11.5">
              <div class="btn-holder ion-text-left">
                <ion-button> Add More </ion-button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <div class="title">
              <h3>Outwork</h3>
            </div>
            <ion-col size="11.5" class="ion-no-padding">
              <div class="grid-holder">
                <ion-row class="header">
                  <ion-col size="3">
                    <h4>Date</h4>
                  </ion-col>
                  <ion-col size="3">
                    <h4>Order No.</h4>
                  </ion-col>
                  <ion-col size="2">
                    <h4>Supplier</h4>
                  </ion-col>
                  <ion-col size="2">
                    <h4>Description</h4>
                  </ion-col>
                  <ion-col size="2">
                    <h4>Cost</h4>
                  </ion-col>
                </ion-row>

                <ion-row class="values">
                  <ion-col size="3">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="3">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>12</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>12</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>13 JAN 2005</p>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="3">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="3">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>12</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>12</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>13 JAN 2005</p>
                  </ion-col>
                </ion-row>
              </div>

              <div class="btn-holder ion-text-right">
                <ion-button> Add More </ion-button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <div class="title">
              <h3>Parts and Consumables Issued</h3>
            </div>
            <ion-col size="11.5" class="ion-no-padding">
              <div class="grid-holder">
                <ion-row class="header">
                  <ion-col size="3">
                    <h4>Date</h4>
                  </ion-col>
                  <ion-col size="7">
                    <h4>Description / Part No.</h4>
                  </ion-col>
                  <ion-col size="2">
                    <h4>Cost</h4>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="3">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="3">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>13 JAN 2005</p>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="3">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="7">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="2">
                    <p>13 JAN 2005</p>
                  </ion-col>
                </ion-row>
              </div>

              <div class="btn-holder ion-text-right">
                <ion-button> Add More </ion-button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <div class="title">
              <h3>Work Done / Mechanics Report</h3>
            </div>
            <ion-col size="11.5" class="ion-no-padding">
              <div class="grid-holder">
                <ion-row class="header">
                  <ion-col size="6">
                    <h4>Name</h4>
                  </ion-col>
                  <ion-col size="6">
                    <h4>Hours</h4>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="6">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                  <ion-col size="6">
                    <p>INJECTOR PUMP</p>
                  </ion-col>
                </ion-row>
                <ion-row class="values">
                  <ion-col size="6">
                    <p>ALTERNATOR</p>
                  </ion-col>
                  <ion-col size="6">
                    <p>ALTERNATOR</p>
                  </ion-col>
                </ion-row>
              </div>

              <div class="btn-holder ion-text-right">
                <ion-button> Add More </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="section">
      <div class="the-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Meter Reading Hrs/Km</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.workDone_MechanicsReport.meterReading"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Total Hours</ion-label>
                <ion-item lines="none">
                  <ion-input
                    type="text"
                    [(ngModel)]="jobCard.serviceInformation.workDone_MechanicsReport.totalHours"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>&nbsp;</ion-label>
              </div>
            </ion-col>

            <ion-col size="3.5">
              <div class="item-input">
                <ion-label>Mechanic Signature</ion-label>
                <ion-item lines="none">
                  <signature-pad
                    ngDefaultControl
                    #signatureCanvas
                    [options]="signaturePadOptions"
                    (onBeginEvent)="drawStart()"
                    (onEndEvent)="drawComplete()"
                  ></signature-pad>
                </ion-item>
                <ion-item lines="none">
                  <label for="img">Select image:</label>
                  <input type="file" id="img" name="img" accept="image/*" />
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Foreman Signature</ion-label>
                <ion-item lines="none">
                  <signature-pad
                    ngDefaultControl
                    #signatureCanvas
                    [options]="signaturePadOptions"
                    (onBeginEvent)="drawStart()"
                    (onEndEvent)="drawComplete()"
                  ></signature-pad>
                </ion-item>
                <ion-item lines="none">
                  <label for="img">Select image:</label>
                  <input type="file" id="img" name="img" accept="image/*" />
                </ion-item>
              </div>
            </ion-col>

            <ion-col size="3.5" offset="0.5">
              <div class="item-input">
                <ion-label>Operator Signature</ion-label>
                <ion-item lines="none">
                  <signature-pad
                    ngDefaultControl
                    #signatureCanvas
                    [options]="signaturePadOptions"
                    (onBeginEvent)="drawStart()"
                    (onEndEvent)="drawComplete()"
                  ></signature-pad>
                </ion-item>
                <ion-item lines="none">
                  <label for="img">Select image:</label>
                  <input type="file" id="img" name="img" accept="image/*" />
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-row>
        <ion-col size="11.5" class="ion-no-padding">
          <div class="btn-holder ion-text-right">
            <ion-button (click)="onAdd()">Mark as Completed</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
