<ion-content class="ion-padding">
  <div class="title-holder flex al-center">
    <ion-back-button
      defaultHref="main/fuelissues"
      mode="ios"
      text=""
    ></ion-back-button>
    <h2>FirstAuto Response codes</h2>
    <div class="date-holder">
      <div class="itm flex al-center">
        <div class="thumb">
          <ion-icon
            slot="icon-only"
            src="assets/imgs/icn-calender.svg"
          ></ion-icon>
        </div>
        <ion-datetime
          style="color: green"
          disabled
          value="{{ currentDate |  date:'MM/dd/yyyy' }}"
        ></ion-datetime>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="grid-holder">
      <div class="top-toolbar flex al-center jc-between">
        <h3>FirstAuto Response codes</h3>
        <div class="btns-holder flex al-center">
          <ion-button>
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ng-template #noItems> No items. </ng-template>
      <ion-grid fixed *ngIf="fautorespcodes.length; else noItems">
        <ion-row class="title-row">
          <ion-col size="0.5" class="flex al-center jc-center"> </ion-col>
          <ion-col class="flex al-center jc-center">
            <h4>FirstAuto Response code</h4>
          </ion-col>
        </ion-row>
        <div class="values">
          <ion-row
            class="value-row"
            *ngFor="let item of fautorespcodes; let i = index"
          >
            <ion-col size="0.5" class="flex al-center jc-center">
              <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col class="flex al-center jc-center">
              <p>{{ item.ResponseCode }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h3>Add</h3>
    </div>

    <div class="the-form">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Description</ion-label>
              <ion-item>
                <ion-input
                  type="text"
                  [(ngModel)]="fautorespcode.ResponseCode"
                ></ion-input>
              </ion-item>
            </div>
          </ion-col>

          <ion-col size="3.5">
            <div class="item-input">
              <ion-label>Active</ion-label>
              <ion-item>
                <ionic-selectable
                  [(ngModel)]="fautorespcode.Active"
                  [items]="['Y', 'N']"
                >
                </ionic-selectable>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="flex al-center jc-end">
            <div class="btn-holder flex al-center">
              <ion-button (click)="onAdd()"> Add </ion-button>
              <!-- <ion-button (click)="onModify()" color="medium">
                Modify
              </ion-button>
              <ion-button (click)="onDeActivate()" color="danger">
                De-activate
              </ion-button>
              <ion-button (click)="onClear()" fill="outline">
                Clear
              </ion-button> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
